In [1]:
## Problem statement
# Based on the data given for month predict the employee 
# who can leave for new job.
# 0 not looking for new job.
# 1 looking for new job.

In [1]:
## Libraries
#
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
## Load training data and testing dataset
#
dataset_train = pd.read_csv('aug_train.csv')
column_name = list(dataset_train.columns)

print("Training size : {}".format(len(dataset_train)))
dataset_test = pd.read_csv('aug_test.csv')
dataset_train = dataset_train.append(dataset_test, ignore_index = True)

# See 5 rows
dataset_train.head()

Training size : 19158

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [113]:
## Check missing value of each column
# count
dataset_train.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    5016
relevent_experience          0
enrolled_university        417
education_level            512
major_discipline          3125
experience                  70
company_size              6560
company_type              6774
last_new_job               463
training_hours               0
target                    2129
dtype: int64

In [114]:
# percentage
missing_percentage = [(clm_name, dataset_train[clm_name].isna().mean() * 100) for clm_name in dataset_train]
missing_percentage = pd.DataFrame(missing_percentage, columns = ['column_names', 'percentage'])
missing_percentage

              column_names  percentage
0              enrollee_id    0.000000
1                     city    0.000000
2   city_development_index    0.000000
3                   gender   23.563677
4      relevent_experience    0.000000
5      enrolled_university    1.958942
6          education_level    2.405224
7         major_discipline   14.680321
8               experience    0.328839
9             company_size   30.816931
10            company_type   31.822239
11            last_new_job    2.175036
12          training_hours    0.000000
13                  target   10.001409

In [115]:
## Handle missing values
# Using frequency distribution of each category
# and select the top category which is mode.
dataset_train = dataset_train.fillna(dataset_train['gender'].value_counts().index[0])

In [116]:
# Check results
dataset_train.isna().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [117]:
dataset_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,Male,Male,1,36,1
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0
2,11561,city_21,0.624,Male,No relevent experience,Full time course,Graduate,STEM,5,Male,Male,never,83,0
3,33241,city_115,0.789,Male,No relevent experience,Male,Graduate,Business Degree,<1,Male,Pvt Ltd,never,52,1
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0

In [118]:
# Load training data
#
dataset_train = pd.read_csv('aug_train.csv')
column_name = list(dataset_train.columns)

print("Training size : {}".format(len(dataset_train)))
dataset_test = pd.read_csv('aug_test.csv')
dataset_train = dataset_train.append(dataset_test, ignore_index = True)

Training size : 19158

In [119]:
# Using SimpleImputer
# After using simple imputer the column names 
# change into numeric index
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy="most_frequent")
dataset_train = imputer.fit_transform(dataset_train)

dataset_train = pd.DataFrame(dataset_train)
dataset_train.columns = column_name
dataset_train.isna().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [120]:
## Check data type of each column
#
dataset_train.dtypes

enrollee_id               object
city                      object
city_development_index    object
gender                    object
relevent_experience       object
enrolled_university       object
education_level           object
major_discipline          object
experience                object
company_size              object
company_type              object
last_new_job              object
training_hours            object
target                    object
dtype: object

In [121]:
## Change data type of column into respective
#
dataset_train.enrollee_id = dataset_train.enrollee_id.astype('int')

dataset_train.city_development_index = dataset_train.city_development_index.astype('int')

dataset_train.training_hours = dataset_train.training_hours.astype('float')

dataset_train.target = dataset_train.target.astype('int32')

dataset_train.city = dataset_train.city.astype('category')

# using dictionary to convert specific columns 
convert_dict = {'city': 'category',
                'gender': 'category',
                'relevent_experience':'category',
                'enrolled_university':'category',
                'education_level':'category',
                'major_discipline':'category',
                'experience':'category',
                'company_size':'category',
                'company_type':'category',
                'last_new_job': 'category'
               } 
  
dataset_train = dataset_train.astype(convert_dict) 
dataset_train.dtypes

enrollee_id                  int32
city                      category
city_development_index       int32
gender                    category
relevent_experience       category
enrolled_university       category
education_level           category
major_discipline          category
experience                category
company_size              category
company_type              category
last_new_job              category
training_hours             float64
target                       int32
dtype: object

In [122]:
## Handle categorical datatype columns
# Using LabelEncoder for multiple columns
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

cl_names = ['city','gender','relevent_experience','enrolled_university',
 'education_level',
 'major_discipline',
 'experience',
 'company_size',
 'company_type',
 'last_new_job']

dataset_train[cl_names] = dataset_train[cl_names].apply(encoder.fit_transform)
dataset_train.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,5,0,1,0,2,0,5,21,4,5,0,36.0,1
1,29725,77,0,1,1,2,0,5,6,4,5,4,47.0,0
2,11561,64,0,1,1,0,0,5,15,4,5,5,83.0,0
3,33241,14,0,1,1,2,0,1,20,4,5,5,52.0,1
4,666,50,0,1,0,2,2,5,21,4,1,3,8.0,0

In [123]:
## Back to test data
#
dataset_test =dataset_train[19158:]
dataset_test.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
19158,32403,78,0,1,0,0,0,5,19,7,5,0,21.0,0
19159,9858,5,0,0,0,2,0,5,15,4,5,0,98.0,0
19160,31806,64,0,1,1,2,1,5,20,4,5,5,15.0,0
19161,27385,26,0,1,0,2,2,5,2,0,5,0,39.0,0
19162,27724,5,0,1,0,2,0,5,21,3,5,4,72.0,0

In [126]:
## Check missing value of each column
# count
dataset_test.isna().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
target                    0
dtype: int64

In [130]:
## Build model
#
independent_variables =["enrollee_id","city","city_development_index","gender","relevent_experience","enrolled_university","education_level","major_discipline","experience","company_size","company_type","last_new_job","training_hours"]

dependent_variables = 'target'

## Installation
# pip install catboost
from catboost import CatBoostRegressor, Pool
from sklearn.metrics import r2_score, mean_squared_error

model = CatBoostRegressor(objective='RMSE')
model.fit(dataset_train[independent_variables], dataset_train[dependent_variables])

earn: 0.3529082	total: 4.02s	remaining: 2.51s
615:	learn: 0.3528920	total: 4.02s	remaining: 2.51s
616:	learn: 0.3528617	total: 4.03s	remaining: 2.5s
617:	learn: 0.3528376	total: 4.04s	remaining: 2.5s
618:	learn: 0.3527931	total: 4.04s	remaining: 2.49s
619:	learn: 0.3527472	total: 4.05s	remaining: 2.48s
620:	learn: 0.3526988	total: 4.06s	remaining: 2.48s
621:	learn: 0.3526660	total: 4.07s	remaining: 2.47s
622:	learn: 0.3526299	total: 4.07s	remaining: 2.46s
623:	learn: 0.3525868	total: 4.08s	remaining: 2.46s
624:	learn: 0.3525445	total: 4.08s	remaining: 2.45s
625:	learn: 0.3525166	total: 4.09s	remaining: 2.44s
626:	learn: 0.3524822	total: 4.09s	remaining: 2.44s
627:	learn: 0.3524590	total: 4.1s	remaining: 2.43s
628:	learn: 0.3524117	total: 4.11s	remaining: 2.42s
629:	learn: 0.3523848	total: 4.11s	remaining: 2.42s
630:	learn: 0.3523438	total: 4.12s	remaining: 2.41s
631:	learn: 0.3523082	total: 4.12s	remaining: 2.4s
632:	learn: 0.3522934	total: 4.13s	remaining: 2.39s
633:	learn: 0.3522440	total: 4.14s	remaining: 2.39s
634:	learn: 0.3522122	total: 4.14s	remaining: 2.38s
635:	learn: 0.3521822	total: 4.15s	remaining: 2.37s
636:	learn: 0.3521330	total: 4.15s	remaining: 2.37s
637:	learn: 0.3520664	total: 4.16s	remaining: 2.36s
638:	learn: 0.3520231	total: 4.17s	remaining: 2.35s
639:	learn: 0.3519974	total: 4.17s	remaining: 2.35s
640:	learn: 0.3519626	total: 4.18s	remaining: 2.34s
641:	learn: 0.3519186	total: 4.19s	remaining: 2.34s
642:	learn: 0.3518787	total: 4.2s	remaining: 2.33s
643:	learn: 0.3518407	total: 4.2s	remaining: 2.32s
644:	learn: 0.3517863	total: 4.21s	remaining: 2.32s
645:	learn: 0.3517464	total: 4.22s	remaining: 2.31s
646:	learn: 0.3517170	total: 4.22s	remaining: 2.31s
647:	learn: 0.3516821	total: 4.23s	remaining: 2.3s
648:	learn: 0.3516634	total: 4.24s	remaining: 2.29s
649:	learn: 0.3516328	total: 4.24s	remaining: 2.28s
650:	learn: 0.3515845	total: 4.25s	remaining: 2.28s
651:	learn: 0.3515564	total: 4.25s	remaining: 2.27s
652:	learn: 0.3515347	total: 4.26s	remaining: 2.26s
653:	learn: 0.3515049	total: 4.27s	remaining: 2.26s
654:	learn: 0.3514855	total: 4.27s	remaining: 2.25s
655:	learn: 0.3514537	total: 4.28s	remaining: 2.24s
656:	learn: 0.3514287	total: 4.29s	remaining: 2.24s
657:	learn: 0.3514008	total: 4.29s	remaining: 2.23s
658:	learn: 0.3513761	total: 4.3s	remaining: 2.23s
659:	learn: 0.3513465	total: 4.31s	remaining: 2.22s
660:	learn: 0.3513102	total: 4.31s	remaining: 2.21s
661:	learn: 0.3512873	total: 4.32s	remaining: 2.21s
662:	learn: 0.3512596	total: 4.33s	remaining: 2.2s
663:	learn: 0.3512271	total: 4.33s	remaining: 2.19s
664:	learn: 0.3511863	total: 4.34s	remaining: 2.19s
665:	learn: 0.3511452	total: 4.35s	remaining: 2.18s
666:	learn: 0.3511026	total: 4.35s	remaining: 2.17s
667:	learn: 0.3510741	total: 4.36s	remaining: 2.17s
668:	learn: 0.3510244	total: 4.37s	remaining: 2.16s
669:	learn: 0.3509970	total: 4.37s	remaining: 2.15s
670:	learn: 0.3509731	total: 4.38s	remaining: 2.15s
671:	learn: 0.3509402	total: 4.38s	remaining: 2.14s
672:	learn: 0.3509126	total: 4.39s	remaining: 2.13s
673:	learn: 0.3508567	total: 4.4s	remaining: 2.13s
674:	learn: 0.3508233	total: 4.4s	remaining: 2.12s
675:	learn: 0.3507922	total: 4.41s	remaining: 2.11s
676:	learn: 0.3507602	total: 4.42s	remaining: 2.11s
677:	learn: 0.3507151	total: 4.42s	remaining: 2.1s
678:	learn: 0.3506558	total: 4.43s	remaining: 2.09s
679:	learn: 0.3506348	total: 4.43s	remaining: 2.09s
680:	learn: 0.3506002	total: 4.44s	remaining: 2.08s
681:	learn: 0.3505663	total: 4.45s	remaining: 2.07s
682:	learn: 0.3505170	total: 4.45s	remaining: 2.07s
683:	learn: 0.3504926	total: 4.46s	remaining: 2.06s
684:	learn: 0.3504627	total: 4.46s	remaining: 2.05s
685:	learn: 0.3504368	total: 4.47s	remaining: 2.05s
686:	learn: 0.3504060	total: 4.47s	remaining: 2.04s
687:	learn: 0.3503661	total: 4.48s	remaining: 2.03s
688:	learn: 0.3503295	total: 4.49s	remaining: 2.02s
689:	learn: 0.3502876	total: 4.49s	remaining: 2.02s
690:	learn: 0.3502526	total: 4.5s	remaining: 2.01s
691:	learn: 0.3502228	total: 4.5s	remaining: 2s
692:	learn: 0.3501833	total: 4.51s	remaining: 2s
693:	learn: 0.3501499	total: 4.51s	remaining: 1.99s
694:	learn: 0.3501143	total: 4.52s	remaining: 1.98s
695:	learn: 0.3500865	total: 4.53s	remaining: 1.98s
696:	learn: 0.3500553	total: 4.53s	remaining: 1.97s
697:	learn: 0.3500116	total: 4.54s	remaining: 1.96s
698:	learn: 0.3499917	total: 4.54s	remaining: 1.96s
699:	learn: 0.3499322	total: 4.55s	remaining: 1.95s
700:	learn: 0.3499003	total: 4.56s	remaining: 1.94s
701:	learn: 0.3498855	total: 4.56s	remaining: 1.94s
702:	learn: 0.3498314	total: 4.57s	remaining: 1.93s
703:	learn: 0.3497950	total: 4.58s	remaining: 1.93s
704:	learn: 0.3497836	total: 4.58s	remaining: 1.92s
705:	learn: 0.3497457	total: 4.59s	remaining: 1.91s
706:	learn: 0.3497306	total: 4.6s	remaining: 1.9s
707:	learn: 0.3496962	total: 4.6s	remaining: 1.9s
708:	learn: 0.3496536	total: 4.61s	remaining: 1.89s
709:	learn: 0.3496029	total: 4.62s	remaining: 1.89s
710:	learn: 0.3495634	total: 4.62s	remaining: 1.88s
711:	learn: 0.3495351	total: 4.63s	remaining: 1.87s
712:	learn: 0.3495079	total: 4.63s	remaining: 1.86s
713:	learn: 0.3494750	total: 4.64s	remaining: 1.86s
714:	learn: 0.3494357	total: 4.64s	remaining: 1.85s
715:	learn: 0.3494062	total: 4.65s	remaining: 1.84s
716:	learn: 0.3493748	total: 4.66s	remaining: 1.84s
717:	learn: 0.3493463	total: 4.66s	remaining: 1.83s
718:	learn: 0.3493070	total: 4.67s	remaining: 1.82s
719:	learn: 0.3492719	total: 4.67s	remaining: 1.82s
720:	learn: 0.3492208	total: 4.68s	remaining: 1.81s
721:	learn: 0.3492025	total: 4.68s	remaining: 1.8s
722:	learn: 0.3491746	total: 4.69s	remaining: 1.8s
723:	learn: 0.3491327	total: 4.7s	remaining: 1.79s
724:	learn: 0.3490944	total: 4.7s	remaining: 1.78s
725:	learn: 0.3490689	total: 4.71s	remaining: 1.78s
726:	learn: 0.3490378	total: 4.71s	remaining: 1.77s
727:	learn: 0.3490055	total: 4.72s	remaining: 1.76s
728:	learn: 0.3489910	total: 4.73s	remaining: 1.76s
729:	learn: 0.3489557	total: 4.73s	remaining: 1.75s
730:	learn: 0.3489201	total: 4.74s	remaining: 1.74s
731:	learn: 0.3488963	total: 4.75s	remaining: 1.74s
732:	learn: 0.3488616	total: 4.75s	remaining: 1.73s
733:	learn: 0.3488241	total: 4.76s	remaining: 1.72s
734:	learn: 0.3487792	total: 4.76s	remaining: 1.72s
735:	learn: 0.3487509	total: 4.77s	remaining: 1.71s
736:	learn: 0.3487217	total: 4.77s	remaining: 1.7s
737:	learn: 0.3486920	total: 4.78s	remaining: 1.7s
738:	learn: 0.3486510	total: 4.79s	remaining: 1.69s
739:	learn: 0.3486152	total: 4.79s	remaining: 1.68s
740:	learn: 0.3485884	total: 4.8s	remaining: 1.68s
741:	learn: 0.3485625	total: 4.8s	remaining: 1.67s
742:	learn: 0.3485227	total: 4.81s	remaining: 1.66s
743:	learn: 0.3484904	total: 4.82s	remaining: 1.66s
744:	learn: 0.3484554	total: 4.82s	remaining: 1.65s
745:	learn: 0.3484245	total: 4.83s	remaining: 1.64s
746:	learn: 0.3484006	total: 4.83s	remaining: 1.64s
747:	learn: 0.3483681	total: 4.84s	remaining: 1.63s
748:	learn: 0.3483366	total: 4.84s	remaining: 1.62s
749:	learn: 0.3482992	total: 4.85s	remaining: 1.62s
750:	learn: 0.3482487	total: 4.86s	remaining: 1.61s
751:	learn: 0.3482272	total: 4.86s	remaining: 1.6s
752:	learn: 0.3482050	total: 4.87s	remaining: 1.6s
753:	learn: 0.3481665	total: 4.88s	remaining: 1.59s
754:	learn: 0.3481324	total: 4.88s	remaining: 1.58s
755:	learn: 0.3480879	total: 4.89s	remaining: 1.58s
756:	learn: 0.3480721	total: 4.89s	remaining: 1.57s
757:	learn: 0.3480151	total: 4.9s	remaining: 1.56s
758:	learn: 0.3479949	total: 4.91s	remaining: 1.56s
759:	learn: 0.3479636	total: 4.91s	remaining: 1.55s
760:	learn: 0.3479281	total: 4.92s	remaining: 1.54s
761:	learn: 0.3478758	total: 4.92s	remaining: 1.54s
762:	learn: 0.3478323	total: 4.93s	remaining: 1.53s
763:	learn: 0.3478101	total: 4.94s	remaining: 1.52s
764:	learn: 0.3477882	total: 4.94s	remaining: 1.52s
765:	learn: 0.3477682	total: 4.95s	remaining: 1.51s
766:	learn: 0.3477384	total: 4.96s	remaining: 1.5s
767:	learn: 0.3476918	total: 4.96s	remaining: 1.5s
768:	learn: 0.3476511	total: 4.97s	remaining: 1.49s
769:	learn: 0.3476224	total: 4.97s	remaining: 1.49s
770:	learn: 0.3475935	total: 4.98s	remaining: 1.48s
771:	learn: 0.3475555	total: 4.98s	remaining: 1.47s
772:	learn: 0.3475211	total: 4.99s	remaining: 1.47s
773:	learn: 0.3474946	total: 5s	remaining: 1.46s
774:	learn: 0.3474478	total: 5s	remaining: 1.45s
775:	learn: 0.3474282	total: 5.01s	remaining: 1.45s
776:	learn: 0.3473835	total: 5.01s	remaining: 1.44s
777:	learn: 0.3473428	total: 5.02s	remaining: 1.43s
778:	learn: 0.3473282	total: 5.03s	remaining: 1.43s
779:	learn: 0.3473012	total: 5.03s	remaining: 1.42s
780:	learn: 0.3472822	total: 5.04s	remaining: 1.41s
781:	learn: 0.3472444	total: 5.04s	remaining: 1.41s
782:	learn: 0.3472246	total: 5.05s	remaining: 1.4s
783:	learn: 0.3472006	total: 5.05s	remaining: 1.39s
784:	learn: 0.3471775	total: 5.06s	remaining: 1.39s
785:	learn: 0.3471347	total: 5.06s	remaining: 1.38s
786:	learn: 0.3471112	total: 5.07s	remaining: 1.37s
787:	learn: 0.3470804	total: 5.08s	remaining: 1.37s
788:	learn: 0.3470601	total: 5.09s	remaining: 1.36s
789:	learn: 0.3470190	total: 5.09s	remaining: 1.35s
790:	learn: 0.3469828	total: 5.1s	remaining: 1.35s
791:	learn: 0.3469499	total: 5.11s	remaining: 1.34s
792:	learn: 0.3469120	total: 5.11s	remaining: 1.33s
793:	learn: 0.3468974	total: 5.12s	remaining: 1.33s
794:	learn: 0.3468735	total: 5.12s	remaining: 1.32s
795:	learn: 0.3468428	total: 5.13s	remaining: 1.31s
796:	learn: 0.3468069	total: 5.14s	remaining: 1.31s
797:	learn: 0.3467633	total: 5.14s	remaining: 1.3s
798:	learn: 0.3467299	total: 5.15s	remaining: 1.29s
799:	learn: 0.3467124	total: 5.15s	remaining: 1.29s
800:	learn: 0.3466813	total: 5.16s	remaining: 1.28s
801:	learn: 0.3466398	total: 5.17s	remaining: 1.27s
802:	learn: 0.3466012	total: 5.17s	remaining: 1.27s
803:	learn: 0.3465702	total: 5.18s	remaining: 1.26s
804:	learn: 0.3465308	total: 5.18s	remaining: 1.25s
805:	learn: 0.3464998	total: 5.19s	remaining: 1.25s
806:	learn: 0.3464710	total: 5.2s	remaining: 1.24s
807:	learn: 0.3464172	total: 5.2s	remaining: 1.24s
808:	learn: 0.3463779	total: 5.21s	remaining: 1.23s
809:	learn: 0.3463454	total: 5.21s	remaining: 1.22s
810:	learn: 0.3463139	total: 5.22s	remaining: 1.22s
811:	learn: 0.3462926	total: 5.22s	remaining: 1.21s
812:	learn: 0.3462612	total: 5.23s	remaining: 1.2s
813:	learn: 0.3462130	total: 5.24s	remaining: 1.2s
814:	learn: 0.3461874	total: 5.24s	remaining: 1.19s
815:	learn: 0.3461421	total: 5.25s	remaining: 1.18s
816:	learn: 0.3460911	total: 5.25s	remaining: 1.18s
817:	learn: 0.3460553	total: 5.26s	remaining: 1.17s
818:	learn: 0.3460413	total: 5.27s	remaining: 1.16s
819:	learn: 0.3460094	total: 5.27s	remaining: 1.16s
820:	learn: 0.3459517	total: 5.28s	remaining: 1.15s
821:	learn: 0.3459387	total: 5.28s	remaining: 1.14s
822:	learn: 0.3459041	total: 5.29s	remaining: 1.14s
823:	learn: 0.3458787	total: 5.3s	remaining: 1.13s
824:	learn: 0.3458270	total: 5.3s	remaining: 1.12s
825:	learn: 0.3458062	total: 5.31s	remaining: 1.12s
826:	learn: 0.3457678	total: 5.31s	remaining: 1.11s
827:	learn: 0.3457190	total: 5.32s	remaining: 1.1s
828:	learn: 0.3456696	total: 5.33s	remaining: 1.1s
829:	learn: 0.3456292	total: 5.33s	remaining: 1.09s
830:	learn: 0.3455903	total: 5.34s	remaining: 1.08s
831:	learn: 0.3455355	total: 5.34s	remaining: 1.08s
832:	learn: 0.3455029	total: 5.35s	remaining: 1.07s
833:	learn: 0.3454428	total: 5.36s	remaining: 1.07s
834:	learn: 0.3454257	total: 5.36s	remaining: 1.06s
835:	learn: 0.3453977	total: 5.37s	remaining: 1.05s
836:	learn: 0.3453538	total: 5.38s	remaining: 1.05s
837:	learn: 0.3453215	total: 5.38s	remaining: 1.04s
838:	learn: 0.3452957	total: 5.39s	remaining: 1.03s
839:	learn: 0.3452714	total: 5.39s	remaining: 1.03s
840:	learn: 0.3452351	total: 5.4s	remaining: 1.02s
841:	learn: 0.3451995	total: 5.41s	remaining: 1.01s
842:	learn: 0.3451621	total: 5.41s	remaining: 1.01s
843:	learn: 0.3451186	total: 5.42s	remaining: 1s
844:	learn: 0.3450696	total: 5.43s	remaining: 995ms
845:	learn: 0.3450418	total: 5.43s	remaining: 989ms
846:	learn: 0.3450138	total: 5.44s	remaining: 982ms
847:	learn: 0.3449867	total: 5.45s	remaining: 976ms
848:	learn: 0.3449434	total: 5.45s	remaining: 970ms
849:	learn: 0.3448816	total: 5.46s	remaining: 963ms
850:	learn: 0.3448446	total: 5.46s	remaining: 957ms
851:	learn: 0.3448141	total: 5.47s	remaining: 950ms
852:	learn: 0.3447762	total: 5.48s	remaining: 944ms
853:	learn: 0.3447282	total: 5.48s	remaining: 938ms
854:	learn: 0.3447006	total: 5.49s	remaining: 931ms
855:	learn: 0.3446673	total: 5.5s	remaining: 924ms
856:	learn: 0.3446382	total: 5.5s	remaining: 918ms
857:	learn: 0.3446214	total: 5.51s	remaining: 911ms
858:	learn: 0.3445910	total: 5.51s	remaining: 905ms
859:	learn: 0.3445752	total: 5.52s	remaining: 898ms
860:	learn: 0.3445535	total: 5.52s	remaining: 892ms
861:	learn: 0.3445060	total: 5.53s	remaining: 885ms
862:	learn: 0.3444668	total: 5.54s	remaining: 879ms
863:	learn: 0.3444376	total: 5.54s	remaining: 872ms
864:	learn: 0.3444093	total: 5.55s	remaining: 866ms
865:	learn: 0.3443751	total: 5.55s	remaining: 859ms
866:	learn: 0.3443319	total: 5.56s	remaining: 853ms
867:	learn: 0.3443063	total: 5.57s	remaining: 846ms
868:	learn: 0.3442765	total: 5.57s	remaining: 840ms
869:	learn: 0.3442339	total: 5.58s	remaining: 833ms
870:	learn: 0.3441991	total: 5.58s	remaining: 827ms
871:	learn: 0.3441648	total: 5.59s	remaining: 821ms
872:	learn: 0.3441286	total: 5.6s	remaining: 814ms
873:	learn: 0.3441046	total: 5.61s	remaining: 808ms
874:	learn: 0.3440836	total: 5.61s	remaining: 802ms
875:	learn: 0.3440594	total: 5.62s	remaining: 795ms
876:	learn: 0.3440050	total: 5.63s	remaining: 789ms
877:	learn: 0.3439736	total: 5.63s	remaining: 782ms
878:	learn: 0.3439469	total: 5.64s	remaining: 776ms
879:	learn: 0.3439057	total: 5.64s	remaining: 769ms
880:	learn: 0.3438781	total: 5.65s	remaining: 763ms
881:	learn: 0.3438490	total: 5.65s	remaining: 756ms
882:	learn: 0.3438054	total: 5.66s	remaining: 750ms
883:	learn: 0.3437959	total: 5.67s	remaining: 744ms
884:	learn: 0.3437563	total: 5.67s	remaining: 737ms
885:	learn: 0.3437216	total: 5.68s	remaining: 730ms
886:	learn: 0.3436984	total: 5.68s	remaining: 724ms
887:	learn: 0.3436858	total: 5.69s	remaining: 718ms
888:	learn: 0.3436229	total: 5.7s	remaining: 711ms
889:	learn: 0.3435962	total: 5.7s	remaining: 705ms
890:	learn: 0.3435598	total: 5.71s	remaining: 698ms
891:	learn: 0.3435390	total: 5.71s	remaining: 692ms
892:	learn: 0.3435181	total: 5.72s	remaining: 685ms
893:	learn: 0.3435084	total: 5.72s	remaining: 679ms
894:	learn: 0.3434873	total: 5.73s	remaining: 672ms
895:	learn: 0.3434514	total: 5.74s	remaining: 666ms
896:	learn: 0.3433940	total: 5.74s	remaining: 660ms
897:	learn: 0.3433681	total: 5.75s	remaining: 653ms
898:	learn: 0.3433540	total: 5.75s	remaining: 647ms
899:	learn: 0.3433398	total: 5.76s	remaining: 640ms
900:	learn: 0.3433157	total: 5.77s	remaining: 634ms
901:	learn: 0.3432952	total: 5.77s	remaining: 627ms
902:	learn: 0.3432607	total: 5.78s	remaining: 621ms
903:	learn: 0.3432172	total: 5.79s	remaining: 614ms
904:	learn: 0.3431922	total: 5.79s	remaining: 608ms
905:	learn: 0.3431665	total: 5.8s	remaining: 602ms
906:	learn: 0.3431437	total: 5.8s	remaining: 595ms
907:	learn: 0.3431219	total: 5.81s	remaining: 589ms
908:	learn: 0.3431024	total: 5.82s	remaining: 582ms
909:	learn: 0.3430683	total: 5.82s	remaining: 576ms
910:	learn: 0.3430333	total: 5.83s	remaining: 570ms
911:	learn: 0.3429826	total: 5.84s	remaining: 563ms
912:	learn: 0.3429384	total: 5.84s	remaining: 557ms
913:	learn: 0.3429228	total: 5.85s	remaining: 550ms
914:	learn: 0.3428977	total: 5.85s	remaining: 544ms
915:	learn: 0.3428551	total: 5.86s	remaining: 537ms
916:	learn: 0.3428060	total: 5.87s	remaining: 531ms
917:	learn: 0.3427887	total: 5.87s	remaining: 524ms
918:	learn: 0.3427640	total: 5.88s	remaining: 518ms
919:	learn: 0.3427265	total: 5.88s	remaining: 512ms
920:	learn: 0.3427077	total: 5.89s	remaining: 505ms
921:	learn: 0.3426817	total: 5.89s	remaining: 499ms
922:	learn: 0.3426614	total: 5.9s	remaining: 492ms
923:	learn: 0.3426416	total: 5.91s	remaining: 486ms
924:	learn: 0.3426096	total: 5.91s	remaining: 479ms
925:	learn: 0.3425713	total: 5.92s	remaining: 473ms
926:	learn: 0.3425474	total: 5.92s	remaining: 466ms
927:	learn: 0.3425139	total: 5.93s	remaining: 460ms
928:	learn: 0.3425027	total: 5.93s	remaining: 454ms
929:	learn: 0.3424571	total: 5.94s	remaining: 447ms
930:	learn: 0.3424107	total: 5.95s	remaining: 441ms
931:	learn: 0.3423691	total: 5.95s	remaining: 434ms
932:	learn: 0.3423469	total: 5.96s	remaining: 428ms
933:	learn: 0.3423031	total: 5.96s	remaining: 421ms
934:	learn: 0.3422679	total: 5.97s	remaining: 415ms
935:	learn: 0.3422413	total: 5.98s	remaining: 409ms
936:	learn: 0.3422038	total: 5.98s	remaining: 402ms
937:	learn: 0.3421769	total: 5.99s	remaining: 396ms
938:	learn: 0.3421318	total: 6s	remaining: 390ms
939:	learn: 0.3420977	total: 6s	remaining: 383ms
940:	learn: 0.3420795	total: 6.01s	remaining: 377ms
941:	learn: 0.3420440	total: 6.01s	remaining: 370ms
942:	learn: 0.3420107	total: 6.02s	remaining: 364ms
943:	learn: 0.3419868	total: 6.02s	remaining: 357ms
944:	learn: 0.3419640	total: 6.03s	remaining: 351ms
945:	learn: 0.3419261	total: 6.04s	remaining: 345ms
946:	learn: 0.3419033	total: 6.04s	remaining: 338ms
947:	learn: 0.3418747	total: 6.05s	remaining: 332ms
948:	learn: 0.3418384	total: 6.05s	remaining: 325ms
949:	learn: 0.3417912	total: 6.06s	remaining: 319ms
950:	learn: 0.3417427	total: 6.07s	remaining: 313ms
951:	learn: 0.3417015	total: 6.08s	remaining: 306ms
952:	learn: 0.3416735	total: 6.08s	remaining: 300ms
953:	learn: 0.3416404	total: 6.09s	remaining: 294ms
954:	learn: 0.3415881	total: 6.1s	remaining: 287ms
955:	learn: 0.3415398	total: 6.1s	remaining: 281ms
956:	learn: 0.3414870	total: 6.11s	remaining: 274ms
957:	learn: 0.3414625	total: 6.11s	remaining: 268ms
958:	learn: 0.3414216	total: 6.12s	remaining: 262ms
959:	learn: 0.3413818	total: 6.13s	remaining: 255ms
960:	learn: 0.3413452	total: 6.13s	remaining: 249ms
961:	learn: 0.3412870	total: 6.14s	remaining: 243ms
962:	learn: 0.3412447	total: 6.15s	remaining: 236ms
963:	learn: 0.3412276	total: 6.15s	remaining: 230ms
964:	learn: 0.3411867	total: 6.16s	remaining: 223ms
965:	learn: 0.3411547	total: 6.16s	remaining: 217ms
966:	learn: 0.3411347	total: 6.17s	remaining: 211ms
967:	learn: 0.3411000	total: 6.18s	remaining: 204ms
968:	learn: 0.3410671	total: 6.18s	remaining: 198ms
969:	learn: 0.3410235	total: 6.19s	remaining: 191ms
970:	learn: 0.3409929	total: 6.2s	remaining: 185ms
971:	learn: 0.3409714	total: 6.2s	remaining: 179ms
972:	learn: 0.3409208	total: 6.21s	remaining: 172ms
973:	learn: 0.3408954	total: 6.21s	remaining: 166ms
974:	learn: 0.3408730	total: 6.22s	remaining: 159ms
975:	learn: 0.3408411	total: 6.22s	remaining: 153ms
976:	learn: 0.3408240	total: 6.23s	remaining: 147ms
977:	learn: 0.3407707	total: 6.24s	remaining: 140ms
978:	learn: 0.3407588	total: 6.24s	remaining: 134ms
979:	learn: 0.3407314	total: 6.25s	remaining: 128ms
980:	learn: 0.3407137	total: 6.25s	remaining: 121ms
981:	learn: 0.3406849	total: 6.26s	remaining: 115ms
982:	learn: 0.3406572	total: 6.26s	remaining: 108ms
983:	learn: 0.3406244	total: 6.27s	remaining: 102ms
984:	learn: 0.3405927	total: 6.28s	remaining: 95.6ms
985:	learn: 0.3405597	total: 6.28s	remaining: 89.2ms
986:	learn: 0.3405184	total: 6.29s	remaining: 82.8ms
987:	learn: 0.3404948	total: 6.29s	remaining: 76.4ms
988:	learn: 0.3404551	total: 6.3s	remaining: 70.1ms
989:	learn: 0.3404231	total: 6.31s	remaining: 63.7ms
990:	learn: 0.3403908	total: 6.31s	remaining: 57.3ms
991:	learn: 0.3403652	total: 6.32s	remaining: 51ms
992:	learn: 0.3403320	total: 6.33s	remaining: 44.6ms
993:	learn: 0.3403058	total: 6.33s	remaining: 38.2ms
994:	learn: 0.3402594	total: 6.34s	remaining: 31.9ms
995:	learn: 0.3402334	total: 6.34s	remaining: 25.5ms
996:	learn: 0.3402041	total: 6.35s	remaining: 19.1ms
997:	learn: 0.3401682	total: 6.36s	remaining: 12.7ms
998:	learn: 0.3401375	total: 6.36s	remaining: 6.37ms
999:	learn: 0.3401028	total: 6.37s	remaining: 0us

In [131]:
## Predictions
#
predictions = model.predict(dataset_test[independent_variables])
predictions

array([ 0.14209087,  0.26018582,  0.3081245 , ..., -0.03572781,
        0.03118641,  0.07421645])

In [134]:
## Accuracy
#
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(dataset_train[dependent_variables],  model.predict(dataset_train[independent_variables]))
metrics.auc(fpr, tpr)

0.8791558759942371

In [135]:
## Generate report
#
results = pd.DataFrame({'enroll_id':dataset_test.enrollee_id, 'result':predictions})
results.head()

       enroll_id    result
19158      32403  0.142091
19159       9858  0.260186
19160      31806  0.308125
19161      27385  0.091266
19162      27724  0.109962

In [145]:
# segregate result
def segregator(data):
    if(data.result > 0.5):
        return 1
    else:
        return 0
    
results['result'] = results.apply(func = segregator, axis = 'columns')

results = results.sort_values(by = 'result', ascending = False)
print("Following are enroll_id are about to get new job as per our preduction")
top10 = results[:10]
print(top10)

Following are enroll_id are about to get new job as per our preduction
       enroll_id  result
21010      22468       1
20460       7645       1
19418      26325       1
20036      27338       1
21044      22430       1
21043      19648       1
21042      25614       1
20031      22520       1
20474      28252       1
20808      19550       1

In [146]:
# Sheet
file_name = "final_results.xlsx"
results.to_excel(file_name, index = False)
print("prediction list generated and saved.")

prediction list generated and saved.

In [2]:
! jupyter nbconvert --to script new_job.ipynb

[NbConvertApp] Converting notebook new_job.ipynb to script
[NbConvertApp] Writing 5314 bytes to new_job.py

In [ ]:
## End
#